.container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#e66465, #9198e5);
    display: flex;
    justify-content: center;
    align-items: center;

    .img-form-container{
        display: flex;
        width: auto;
        max-height: 80vh;
       
        background-color: #fff;
        border-radius: 20px;

        .image-form{
            max-height: 80vh;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }   
    }
    .form-container{
        display: flex;
        flex-direction: column;
        padding: 30px;
        min-width: 300px;
        
        .form{
            display: flex;
            flex-direction: column;
            padding: 10px;
            justify-content: space-between;
            height: 100%;
            text-align: center;

            .info-userr{
               
                margin: 10px 0;
                border: none;
                border-bottom: 0.5px gray solid;
                font-size: 15px;
                text-transform:capitalize;
                padding: 5px 0;
                &:focus{
                    outline: none;
                }
                .gender{
                    color: gray;
                }
               
            }

            .submit-info{
                margin-top: 20px;
                border: none;
                background: linear-gradient(262deg, #FF7854, #FD267D);
                padding: 10px;
                font-size: 20px;
                border-radius: 13px;
                color: #fff;
                font-weight: bolder;
                cursor: pointer;
                &:focus{
                    outline: none;
                }
            }
            
        }
    }
}   